| #+TITLE: #{title}
| #+DATE: <#{dateStr}>
| #+TAGS: emacs, orgmode, hexo
| #+LAYOUT: post
| #+CATEGORIES: orgmode
| #+OPTIONS: toc:t \n:t ^:{}
| 
| 
| 這是orgmode template，完全自用請勿參考
| #+BEGIN_HTML
| <!--more-->
| #+END_HTML
| 
| * Orgmode
| ** Why org
| #+BEGIN_SRC js
| console.log('hello');
| console.log('hello 2');
| #+END_SRC
| 我编不下去了。。
